force-app/main/default/flows/CHAT_Journal_CHAT_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Bot_Conversation</name>
        <label>Generate Bot Conversation</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Subtheme</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Get_Case.NKS_Conversation__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Generates the document from the human chat session</description>
        <name>Generate_Chat_Document</name>
        <label>Generate Chat Document</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Bot_Conversation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/NKS_Chat_PDF?id={!Journal_Entry_SF.CRM_Thread__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Thread__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Chat_Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Chat_Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Chat_Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_CHAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bot_Conversation_Document_Variant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BOT_DOCUMENT_TITLE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_BOT_CHAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_Default_data</name>
        <label>Assign Journal Entry Default data</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Chat_Document_Variant_Assignment</name>
        <label>Chat Document Variant Assignment</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Conversation_Document_Variant.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Conversation_Document_Variant.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Bot_Conversation.documentString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bot_Conversation_Document_Variant.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment</name>
        <label>Journal Request Assignment</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV_NO_CHAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Journal_Post_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Chat_Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Theme_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.Subtheme__r.CRM_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bot_Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment</name>
        <label>Journal Sak Assignment</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.NAV_Case_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_NAV_Case_Legacy_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Subtheme_Null</name>
        <label>Set Journal Subtheme Null</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Subtheme__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Chat_Document_Variant_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed</name>
        <label>Set Post Completed</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_THREAD.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_THREAD.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine if the dml should be performed directly in the flow or handled by a parent calling this.</description>
        <name>DML_Check</name>
        <label>DML Check</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnectorLabel>No DML</defaultConnectorLabel>
        <rules>
            <name>Do_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PERFORM_DML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Journal_Entry</targetReference>
            </connector>
            <label>Do DML</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the subtheme has been set for the journal entry from the parent calling the flow. If not this is strictly set to null</description>
        <name>Validate_Subtheme</name>
        <label>Validate Subtheme</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Journal_Subtheme_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subtheme Not Set</defaultConnectorLabel>
        <rules>
            <name>Subtheme_Was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Entry_SF.Subtheme__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat_Document_Variant_Assignment</targetReference>
            </connector>
            <label>Subtheme Was Set</label>
        </rules>
    </decisions>
    <formulas>
        <name>BOT_DOCUMENT_TITLE</name>
        <dataType>String</dataType>
        <expression>&apos;Chatsamtale med Frida - &apos; + {!THREAD_CLOSE_DATE}</expression>
    </formulas>
    <formulas>
        <name>Document_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Innlogget chat med NAV - &apos; + {!THREAD_CLOSE_DATE}</expression>
    </formulas>
    <formulas>
        <description>Formula to define the journal case type (Sakstype). If no Journal Case ID has been input, default is GENERELL_SAK</description>
        <name>Journal_Case_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Entry_SF.NAV_Case_Reference__c}), &apos;GENERELL_SAK&apos;, &apos;FAGSAK&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to generate name convention on journal required format (For persons)</description>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Info.CRM_Person__r.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Account_Info.CRM_Person__r.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Account_Info.CRM_Person__r.INT_MiddleName__c}</expression>
    </formulas>
    <formulas>
        <description>Formula to generate a text for when the thread was closed.</description>
        <name>THREAD_CLOSE_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>THREAD_START_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c})))</expression>
    </formulas>
    <interviewLabel>Journal CHAT Thread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal CHAT Thread</label>
    <overriddenFlow>CRM_Journal_CHAT_Thread</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get necessary account information to post a journal entry</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNALED_THREAD.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the case related to the chat transcript for getting the bot conversation</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Chat_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNALED_THREAD.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Conversation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the info needed from record and relations to submit a journal entry</description>
        <name>Get_Necessary_Record_Info</name>
        <label>Get Necessary Record Info</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <object>Thread__c</object>
        <outputReference>JOURNALED_THREAD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_From_External__c</queriedFields>
        <queriedFields>CRM_Journal_Status__c</queriedFields>
        <queriedFields>CRM_Closed_Date__c</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <queriedFields>CRM_Date_Time_Registered__c</queriedFields>
        <queriedFields>CRM_Related_Object__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Journal_Entry</name>
        <label>Update Journal Entry</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
        <inputReference>Journal_Entry_SF</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <inputReference>JOURNALED_THREAD</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Necessary_Record_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Bot_Conversation_Document_Variant</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bot_Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for list of documents to journal</description>
        <name>Chat_Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Document variant wrapper for journal request</description>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF journal entry record to be created for a journal request</description>
        <name>Journal_Entry_SF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Wrapper class for the actual journal request to be sent.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper object for the &quot;fagsystem sak&quot; the journal relates to</description>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JOURNALED_THREAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input to determine if this flow should perform the DML to update relevant records after callout or if this should be handled outside the flow.</description>
        <name>PERFORM_DML</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
