force-app/main/default/flows/CHAT_Chat_Thread_After_Update_On_Active_Set_to_False.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Collections_0</name>
        <label>Update Collections</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>THREADS_TO_UPDATE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Do_Journal.JOURNALED_THREAD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRIES_TO_UPDATE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Do_Journal.Journal_Entry_SF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Process_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Chat Thread - After Update - On Active Set to False {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Thread - After Update - On Active Set to False</label>
    <loops>
        <name>Journal_Process_Loop</name>
        <label>Journal Process Loop</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_Journal_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_Journal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Threads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query journal entries waiting to be processed related to the chat thread.</description>
        <name>Get_Journal_Entries</name>
        <label>Get Journal Entries</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Process_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Journal_Entry_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Journal_Entries</name>
        <label>Update Journal Entries</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <inputReference>JOURNAL_ENTRIES_TO_UPDATE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Threads</name>
        <label>Update Threads</label>
        <locationX>352</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Update_Journal_Entries</targetReference>
        </connector>
        <inputReference>THREADS_TO_UPDATE</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHAT</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Journal_Entries</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Do_Journal</name>
        <label>Do Journal</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Collections_0</targetReference>
        </connector>
        <flowName>CHAT_Journal_CHAT_Thread</flowName>
        <inputAssignments>
            <name>Journal_Entry_SF</name>
            <value>
                <elementReference>Journal_Process_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PERFORM_DML</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>JOURNAL_ENTRIES_TO_UPDATE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>THREADS_TO_UPDATE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>
