force-app/main/default/flows/NKS_Chat_Set_To_Redaction_v_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Thread_For_Redaction</name>
        <label>Set Thread For Redaction</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ikke_statlig_dialog</name>
        <choiceText>Ikke statlig dialog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ikke statlig dialog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sendt_feil_bruker</name>
        <choiceText>Sendt feil bruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sendt feil bruker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sensitive_personopplysninger</name>
        <choiceText>Sensitive personopplysninger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sensitive personopplysninger </stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Has_Thread</name>
        <label>Check If Has Thread</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Chat_Not_Authenticated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Sensitive_Information_Is_True</targetReference>
            </connector>
            <label>Has Thread</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Sensitive_Information_Is_True</name>
        <label>Check If Sensitive Information Is True</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Thread_to_Redaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redaction_Thread_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Thead_Is_Set_To_Redaction</name>
        <label>Check If Thead Is Set To Redaction</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSetToRedaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cause</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>IsSetToRedaction</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConversationNote_Cause</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause__c</picklistField>
        <picklistObject>Conversation_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NKS Chat Set To Redaction v. 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Chat Set To Redaction v. 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Has_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Check_If_Thead_Is_Set_To_Redaction</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Chat_Not_Authenticated_Screen</name>
        <label>Chat_Not_Authenticated_Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Chat_Not_Authenticated_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Chatten er ikke tilknyttet noen bruker og kan derfor ikke sendes til sladding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_toast</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Det oppstod en feil!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Klarte ikke å sette henvendelsen til sladding.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redaction_Thread_Screen</name>
        <label>Redaction Thread Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Message</name>
            <fieldText>&lt;p&gt;Samtaletråden er allerede satt til sladding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Thread_to_Redaction</name>
        <label>Set Thread to Redaction</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Thread_For_Redaction</targetReference>
        </connector>
        <fields>
            <name>Cause</name>
            <choiceReferences>Sendt_feil_bruker</choiceReferences>
            <choiceReferences>Ikke_statlig_dialog</choiceReferences>
            <choiceReferences>Sensitive_personopplysninger</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sendt_feil_bruker</defaultSelectedChoiceReference>
            <fieldText>Årsak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Ferdig</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
