force-app/main/default/flows/NKS_Delete_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_criteria</name>
        <label>Check criteria</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Don&apos;t delete</defaultConnectorLabel>
        <rules>
            <name>Delete_record_and_case</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>DateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Chat_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sosiale Tjenester</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Chat_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sosiale Tjenester EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Chat_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gjeldsrådgivning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Chat_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gjeldsrådgivning EN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_Case</targetReference>
            </connector>
            <label>Delete record and case?</label>
        </rules>
    </decisions>
    <description>Delete chat and related case if account is null and the chat is older than 2 days and/or chat queue is Sosial or Gjeldsrådgivning</description>
    <environments>Default</environments>
    <formulas>
        <name>DateFormula</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) &lt;= TODAY() - 2</expression>
    </formulas>
    <interviewLabel>NKS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Delete Chat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_LiveChatTranscript</name>
        <label>Delete LiveChatTranscript</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Related_Case</name>
        <label>Delete Related Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Delete_LiveChatTranscript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_criteria</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
