force-app/main/default/flows/NKS_Chat_Send_to_Redaction_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check if there was a thread returned</description>
        <name>Check_Thread</name>
        <label>Check Thread</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Chat_Not_Authenticated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chat Not Authenticated</defaultConnectorLabel>
        <rules>
            <name>Has_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Thread.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Redaction_Flow</targetReference>
            </connector>
            <label>Has Thread</label>
        </rules>
    </decisions>
    <interviewLabel>Chat Send to Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Send to Redaction - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the thread related to the chat that should exist if the chat was authenticated. Otherwise we show an error message.</description>
        <name>Get_Chat_Thread</name>
        <label>Get Chat Thread</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Chat_Not_Authenticated_Screen</name>
        <label>Chat Not Authenticated Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Chat_Not_Authenticated_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Chatten er ikke tilknyttet noen bruker og kan derfor ikke sendes til sladding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Oppdater</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chat_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls the thread set to redaction flow to allow for setting to redaction.</description>
        <name>Open_Redaction_Flow</name>
        <label>Open Redaction Flow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>Thread_Set_To_Redaction</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Chat_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the chat record that triggered this flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
