force-app/main/default/flows/NKS_Messaging_Route_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_default_Queue_Arbeid</name>
        <label>Route to default Queue Arbeid</label>
        <locationX>534</locationX>
        <locationY>1706</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <targetReference>Messaging_Routing_Error_Log_Default_Queue</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9KN0000008QWU0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GKD000000hau02AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Messaging Arbeid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to
            Omni-Channel.</description>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <targetReference>Messaging_Routing_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9KN0000008QWU0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_default_Queue</name>
        <label>Assign default Queue</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>input_record.Queue_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NKS_Messaging_Arbeid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_to_default_Queue_Name_Arbeid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_Queue_Name</name>
        <label>Assigne Queue Name</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>input_record.Queue_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queueApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_english_language</name>
        <label>Set english language</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>input_record.EndUserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Queue_Api_Name_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_norwegian_language</name>
        <label>Set norwegian language</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>input_record.EndUserLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Queue_Api_Name_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if we get the Queue API Name from the api</description>
        <name>Is_Queue_Api_Name_null</name>
        <label>Is Queue Api Name null?</label>
        <locationX>534</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Assign_default_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueApiName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RouteCustomerDecision</name>
        <label>Is Queue null?</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_default_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigne_Queue_Name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_language</name>
        <label>Set language</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_norwegian_language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Norwegian</defaultConnectorLabel>
        <rules>
            <name>Is_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_english_language</targetReference>
            </connector>
            <label>Is English</label>
        </rules>
    </decisions>
    <description>The flow is used to route chats to the correct queue based on the Queue Api Name we
        get from the API</description>
    <environments>Default</environments>
    <formulas>
        <name>language</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!input_queue}, LEN({!input_queue}) - FIND( &quot;|&quot; ,
            {!input_queue}))</expression>
    </formulas>
    <formulas>
        <name>queueApiName</name>
        <dataType>String</dataType>
        <expression>LEFT( {!input_queue}, FIND( &quot;|&quot; , {!input_queue}) -1)</expression>
    </formulas>
    <interviewLabel>NKS Messaging Route to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Messaging Route to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RouteCustomerDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueApiName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Queue_Name</name>
        <label>Update Queue Name</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <inputReference>input_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_default_Queue_Name_Arbeid</name>
        <label>Update to default Queue Name Arbeid</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Route_to_default_Queue_Arbeid</targetReference>
        </connector>
        <inputReference>input_record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <sourceTemplate>omnichannel_messaging__MsgRouting</sourceTemplate>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_language</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Messaging_Routing_Error_Log</name>
        <label>Messaging Routing Error Log</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <elementReference>Route_to_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Failed to rout chat to Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Messaging_Routing_Error_Log_Default_Queue</name>
        <label>Messaging Routing Error Log Default Queue</label>
        <locationX>930</locationX>
        <locationY>1814</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <elementReference>Route_to_default_Queue_Arbeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Failed to route chat to Default Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Queue API Name from the API</description>
        <name>input_queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The messaging session record that is being inputted into the flow. Necessary
            for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to
            run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
