force-app/main/default/flows/NKS_Chat_Send_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Thread</name>
        <label>Check Thread</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Account_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthenticated</defaultConnectorLabel>
        <rules>
            <name>Authenticated_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Thread.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Thread_NAV_Task_Screenflow</targetReference>
            </connector>
            <label>Authenticated Chat</label>
        </rules>
    </decisions>
    <description>Screenflow to allow posting a NAV task from a chat record page.</description>
    <interviewLabel>Chat Send NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Send NAV Task - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query after a Thread__c that is related to the chat transcript.</description>
        <name>Get_Chat_Thread</name>
        <label>Get Chat Thread</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_Account_Error_Screen</name>
        <label>No Account Error Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Account_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Brukeren må være logget inn for at du skal kunne opprette oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Oppdater</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chat_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Thread_NAV_Task_Screenflow</name>
        <label>Call Thread NAV Task Screenflow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>NKS_Thread_Send_NAV_Task</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Chat_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Chat transcript record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
